// screen size breakpoints
// duplicating https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints


// color variables

$white: #fff;
$black: #222;
$darkText: #4A4A4A;
$footerBg: #161616;
// font variables and mixins

$montserrat: 'Montserrat', sans-serif;
$prata: 'prata', serif;
$helvetica: 'helvetica', sans-serif;